.dashboard_info{
    padding: 50px 10px 50px 20px;
    margin-left: 125px;
}

/*general pages styles*/
.customers_container, .orders_container, .products_container, .customer_details_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.customer_details_container{
    gap: 2rem;
}

.pagination_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.customers_container h1, .orders_container h1, .products_container h1{
    color: #c9ced8;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    padding-left: 20px;    
}

/*admin panel styles*/
.admin_panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
}

@media (max-width: 650px) {
    .pagination_container{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .dashboard_info{
        margin-left: 60px;
    }  
    .admin_panel{
        grid-template-columns: 1fr;
    }  
}