.updates_form, .datePicker_container, .input_container, .buttons_container, .url_preview_container{
    display: flex;
    gap: 1rem;
}
.updates_form, .datePicker_container{
    flex-direction: column;
}

.datePicker_container{
    padding: 0.5rem;
}

.input_container, .buttons_container{
    align-items: center;
}

.input_container label{
    font-size: 0.825rem;
    color: #c9ced8;
}

.input_container input{
    flex: 1 1 70%;
    padding: 0.5rem;
    width: 50%;
}

.input_container input:focus{
    background-color: #059beb18;
}

.labels_container{
    flex: 0 0 30%;
}

.buttons_container button{
    width: fit-content;
    padding: 0.4rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

.cancel_update_button{
    background-color: red;
}

.ship_button{
    background-color: rgb(2, 156, 2);
}

.ship_button:hover{
    background-color: rgb(31, 163, 31);
}

.cancel_update_button:hover{
    background-color: rgb(248, 33, 33);
}

.update_button:hover{
    background-color: grey;
}

.error_updating_info{
    font-size: 0.7rem;
    color: red;
}

/*login form styles*/
.login_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login_form_container {
    background-color: #f4f4f411;
    border: 1px solid #c9ced8;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    width: 400px;
}

.login_form_container h2 {
    color: #059beb;
    text-align: center;
    margin-bottom: 1.5rem;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login_form input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #c9ced8;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.login_form input:focus {
    border-color: #059beb;
    outline: none;
}

.error_label_container {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.login_form label {
    font-size: 0.9rem;
    color: #c9ced8;
}

.error_login_form{
    font-size: 0.85rem;
    color: #ff4d4d;
    margin: 0;
}

.login_submit_button {
    width: 100%;
    background-color: #059beb;
    color: #ffffff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login_submit_button:disabled {
    background: linear-gradient(90deg, #06a7fd15 25%, #059beb 50%, #06a7fd15 75%);
    background-size: 400% 100%;
    animation: loading-animation 1.5s infinite;
    color: #ffffff; /* Keep text visible */
    cursor: not-allowed;
    border: none;
}

/* Keyframes for the loading animation */
@keyframes loading-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.login_submit_button:hover:not(:disabled) {
    background-color: #06a7fd15;
}

.signup_inside_login_container {
    margin-top: 2rem;
    text-align: center;
}

.signup_inside_login_container h2 {
    font-size: 1rem;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

.signup_inside_login_container h2:hover {
    color: #059beb;
}
